<!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Bin-Out Admin</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Logged in as:<span id="loggedInUser"></span></p>
        <li class="active">
        <li>
          <a id="viewUsersBtn" href="/admin/users">View Users</a>
        </li>
        <li>
          <a id="viewEmployeesBtn" href="/admin/employees">View Employees</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<h2>Employee Table</h2>

    <table class="table employeeTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Postcode</th>
          <th scope="col">Approve Signup</th>
          <th scope="col">Delete Signup</th>
        </tr>
      </thead>
      <tbody>

        {{#each employee}}
        <tr>
          <td scope="col">{{dataValues.id}}</td>
          <td scope="col">{{dataValues.fullName}}</td>
          <td scope="col">{{dataValues.email}}</td>
          <td scope="col">{{dataValues.address}}</td>
          <td scope="col">{{dataValues.postcode}}</td>
          <td><a class="btn btn-primary acceptEmployee" href="/admin/employees" role="button" data-id="{{dataValues.id}}">Accept</a></td>
          <td><a class="btn btn-primary deleteEmployee" href="/admin/employees" role="button" data-id="{{dataValues.id}}">Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>